* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-title {
    font-size: 55px;
    color:#024e76;
    margin-bottom:35px;
    padding:0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
    
}
.primary-border {
    border-color: #fce138;
}
.secondary-border{
    border-color: #39a6b2;
}
body section h1 h2{
    font-family: Arial, Helvetica, sans-serif;
   
}
header  {
    padding: 20px 35px;
    background-color: #39a6b2;
}
header h1 {
    font-weight: bold;
    font-size: 36 px;
    color: #fce138;
    margin: 0;
}
li {
    color: #39a6b2;
}

header a {
    text-decoration: none;
    color: #fce138;
    padding: 0 33px;
    
}

h2  {
    color: #39a6b2;
    font-weight: bold;
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
}
section  {
    color: #39a6b2;
    font-weight: bold;
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
   
    
}

header nav {
    float: right;
    margin: 7px 0;
    
}

header nav ul li {
    display: inline;
    margin: 15px;
}

header nav ul li a {
    margin: 0 30 px;
    font-weight: lighter;
    font-size: 22px;
}

header h1 {
    font-weight: bold;
    font-size: 36 px;
    color: #fce138;
    margin: 0;
    display: inline;
}
footer div{
    color: #39a6b2;
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 3.5px ;
  
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer a{
    color: #024e76
}
/* Hero Style Start */
.hero {
    background-image: url("../css/images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin:20px;
    background-color: white;
    font-size: 20px;
    color:blue;

} 
.hero-secondary {
    margin: 20px;
    background-color: black;
    font-size: 20px;
    color: red;
}

/* Hero Style End */
.hero-form {
    border: 3px solid #024e76;
    background-color: #fce138;
    padding:20px; 
    width: 655px;
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 100px;
    
}
.hero-form h3 {
    font-size: 24 px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
   
}
.form-input {
    border: 1px solid #024e76;
    display:block ;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
#name, #email,#phone{
    width: 100%;
    padding: 8px 2px;
    margin: 1px 0;
    display: inline;
}
button{
    background-color: #024e76;
    color: #fce138;
    height: 37px;
    width: 120px;
    font-size: 17px;
    
}
.intro {
    text-align: center;
}
.intro h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
    display: inline-block;
 

}

    
 
   

 .intro p {
     line-height:1.7;
     color: #39a6b2;
     width:80%;
     font-size:20px;
     margin: 0 auto;
 }
 .steps {
     text-align:center;
     background: #fce138;
 }
 
 .steps h2 {
     font-size: 55px;
     color: #024e76;
     margin-bottom: 35px;
     padding: 0 100px 20px 100px;
     border-bottom: 3px solid;
     border-color: #39a6b2;
 }
 .steps span {
     font-size:38px;

 }
.trainers {
    text-align: center;
}
.trainer {
    overflow:auto;
}
.trainer {
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
}
.trainer img {
   width: 35%;
   float: left;


}
.trainer-bio {
    padding: 35px;
    float: left;
    width: 65%;


}
.trainer-bio h3{
    font-size: 32px;
    margin-bottom:8px;
}
.trainer-bio h4{
    font-weight:lighter;
    font-size:26px;
    margin-bottom:25px;
}
.trainer-bio p {
    font-size: 17px;
    line-height: 1.3;
}
.reach{
    text-align: center;
    background: #024e76;

}
.reach h2{
    color: #fce138;
    line-height: 157px;
}
.contact-info iframe{
    width:400px;
    height:400px;
}
.contact-info div{
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}
.contact-info p, .contact-info address {
    margin: 9px -18px 80px;
    line-height: 1.4;
    font-size:20px;
    font-style:normal;
}
.contact-info a{
    color:#fce138;
}
.contact-info h3{
    color: #fce138;
    font-size: 32px;
    margin:0 -20px;
}